<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="toggleSidebar()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="sidebar-header">
      <h2>Menu</h2>
    </div>
    <ul class="sidebar-list">
      <li class="sidebar-item" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Cerrar Sesión</span>
      </li>
    </ul>
  </div>

  <div class="overlay" [class.show]="isSidebarOpen" (click)="toggleSidebar()"></div>

  <!-- Barra de búsqueda -->
  <div class="search-container">
    <input 
      type="search" 
      placeholder="Buscar películas..." 
      (input)="searchMovies($event)" 
      class="search-input"
    />
  </div>
  
  <!-- Filtros -->
  <div class="filter-container">
    <div class="filter-item">
      <label>Categoría</label>
      <div>
        <button class="btn-f" *ngFor="let category of categories" (click)="filterCategory(category.id)">
          {{ category.name }}
        </button>
      </div>
    </div>
    <div class="filter-item">
      <label>Filtros</label>
      <div>
        <button class="btn-f" (click)="filterMovies('popular')">Popular</button>
        <button class="btn-f" (click)="filterMovies('new')">New</button>
        <button class="btn-f" (click)="filterMovies('featured')">Featured</button>
      </div>
    </div>
  </div>

  <!-- Contenido principal de la página de inicio -->
  <div class="movie-grid">
    <div class="movie-item" *ngFor="let movie of popularMovies" [routerLink]="['/moviedetailpage', movie.id]">
      <ion-thumbnail>
        <img [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.release_date }}</p>
        <app-star-rating [rating]="movie.vote_average / 2" [readonly]="true"></app-star-rating>
      </ion-label>
    </div>
  </div>
</ion-content>