#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-menu {
  --width: 250px;
}

ion-content {
  --background: #000000;
}

ion-toolbar {
  --background: linear-gradient(to right, #ff512f, #dd2476);
  --color: #ffffff;
}

ion-item {
  --background: #000000;
  --color: #ffffff;
}

.custom-menu-button {
  color: white;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 16px;
}

.movie-item {
  text-align: center;
  color: white;
}

.movie-item ion-thumbnail {
  width: 100%;
  height: auto;
}

.movie-item ion-label {
  margin-top: 8px;
}

.carousel-item {
  text-align: center;
  color: white;
}

.carousel-item ion-thumbnail {
  width: 100%;
  height: auto;
}

.carousel-item ion-label {
  margin-top: 8px;
}

swiper-container {
  width: 100%;
  height: auto; // Cambiado de 100% a auto para ajustar la altura al contenido
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; // Asegúrate de que los slides se ajusten al contenido
}

.mySwiper {
  width: 100%;
  height: auto; // Ajusta la altura del contenedor Swiper
}

.filter-container {
  display: flex;
  padding: 10px 16px;
  flex-direction: column-reverse;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.filter-item {
  padding: 5px;
}


ion-select {
  --padding-start: 16px;
  --padding-end: 16px;
  --icon-padding-end: 16px;
  --icon-padding-start: 16px;
}


ion-segment-button {
  --background: #000000;
  --color: #ffffff;
}
