<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="custom-menu-button"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">
    <!-- Barra de búsqueda -->
    <ion-searchbar (ionInput)="searchMovies($event)"></ion-searchbar>

    <!-- Filtros -->
    <div class="filter-container">
      <ion-item class="filter-item">
        <ion-label>Categoría</ion-label>
        <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterCategory($event)">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-segment (ionChange)="filterMovies($event.detail?.value?.toString())">
        <ion-segment-button value="popular">
          <ion-label>Popular</ion-label>
        </ion-segment-button>
        <ion-segment-button value="new">
          <ion-label>New</ion-label>
        </ion-segment-button>
        <ion-segment-button value="featured">
          <ion-label>Featured</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- Contenido principal de la página de inicio -->
    <div class="movie-grid">
      <div class="movie-item" *ngFor="let movie of popularMovies" [routerLink]="['/moviedetailpage', movie.id]">
        <ion-thumbnail>
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ movie.title }}</h2>
          <p>{{ movie.release_date }}</p>
        </ion-label>
      </div>
    </div>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreMovies($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más películas...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>