<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toggleSidebar()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Menú lateral -->
  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="sidebar-header">
      <h2>Menu</h2>
    </div>
    <ul class="sidebar-list">
      <li class="sidebar-item" (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
        <span>Home</span>
      </li>
      <li class="sidebar-item" (click)="goToFavorites()">
        <ion-icon name="heart-outline"></ion-icon>
        <span>Favoritos</span>
      </li>
      <li class="sidebar-item" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Cerrar Sesión</span>
      </li>
    </ul>
  </div>

  <!-- Overlay para cerrar el menú -->
  <div class="overlay" [class.show]="isSidebarOpen" (click)="toggleSidebar()"></div>

  <!-- Contenido principal -->
  <div *ngIf="favoriteMovies.length === 0" class="no-favorites">
    <p>No tienes películas favoritas aún.</p>
  </div>

  <div class="movie-grid" *ngIf="favoriteMovies.length > 0">
    <div class="movie-item" *ngFor="let movie of favoriteMovies">
      <ion-thumbnail>
        <img
          [src]="'https://image.tmdb.org/t/p/w300' + movie.poster_path"
          (error)="setDefaultImage($event)"
          alt="{{ movie.title }}"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.release_date }}</p>
        <app-star-rating [rating]="movie.vote_average / 2" [readonly]="true"></app-star-rating>
        <button (click)="removeFromFavorites(movie)" class="remove-button">Eliminar</button>
      </ion-label>
    </div>
  </div>
</ion-content>