ion-header {
  ion-toolbar {
    ion-buttons {
      ion-button {
        ion-icon {
          color: white;
          font-size: 24px;
          background-color: rgba(255, 192, 203, 0.72);
          border-radius: 100%;
        }
      }
    }
  }
}

.movie-header {
  position: relative;
  text-align: center;
  color: white;
}

.movie-poster {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.movie-title {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.04) 100%);
  
}

.movie-title h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

ion-content {
  ion-card {
    margin-top: 20px;
    ion-card-header {
      ion-card-subtitle {
        font-size: 18px;
        color: var(--ion-color-medium);
      }
    }
    ion-card-content {
      p {
        font-size: 16px;
        line-height: 1.5;
      }
      strong {
        font-weight: bold;
      }
    }
  }
}

/* Estilo para el contenedor del comentario */
div {
  margin-top: 20px;

  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--ion-color-dark);
  }

  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 4px;
    resize: vertical;
    outline: none;

    &:focus {
      border-color: var(--ion-color-primary);
      box-shadow: 0 0 5px var(--ion-color-primary);
    }
  }

  small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: var(--ion-color-medium);
  }
}

.star-rating {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.star {
  font-size: 24px;
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
}

.star.filled {
  color: gold;
}

.star:hover {
  color: orange;
}