<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ movie?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="movie" class="movie-header">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      class="movie-poster"
    />
    <div class="movie-title">
      <h1>{{ movie.title }}</h1>
    </div>
  </div>

  <ion-card *ngIf="movie">
    <ion-card-header>
      <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ movie.overview }}</p>
      <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
      <p><strong>Votes:</strong> {{ movie.vote_count }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
