<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ movie?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="movie" class="movie-header">
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      class="movie-poster"
    />
    <div class="movie-title">
      <h1>{{ movie.title }}</h1>
    </div>
  </div>

  <ion-card *ngIf="movie">
    <ion-card-header>
      <ion-card-subtitle>{{ movie.release_date }}</ion-card-subtitle>
      <app-star-rating [rating]="selectedRating" (ratingChange)="onRatingChange($event)"></app-star-rating>
    </ion-card-header>
    <ion-card-content>
      <p>{{ movie.overview }}</p>
      <p><strong>Rating:</strong> {{ movie.vote_average }}</p>
      <p><strong>Votes:</strong> {{ movie.vote_count }}</p>
      <p *ngIf="selectedRating"><strong>Selected Rating:</strong> {{ selectedRating }}</p>

      <!-- Campo para el comentario, visible solo si hay una calificación -->
      <div *ngIf="selectedRating > 0">
        <ion-item>
          <ion-label position="stacked">Comentario (opcional)</ion-label>
          <ion-textarea [(ngModel)]="userComment" maxlength="1000" placeholder="Escribe tu comentario aquí..."></ion-textarea>
          <ion-note slot="helper">Máximo 1000 caracteres</ion-note>
        </ion-item>

        <!-- Botón para guardar la calificación y el comentario -->
        <ion-button expand="block" (click)="saveRatingAndComment()">Guardar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>