ion-header {
    ion-toolbar {
      ion-buttons {
        ion-button {
          ion-icon {
            color: var(--ion-color-primary);
            font-size: 24px;
          }
        }
      }
      ion-title {
        display: flex;
        align-items: center;
        ion-icon {
          margin-right: 8px;
          color: var(--ion-color-primary);
          font-size: 24px;
        }
      }
    }
  }
  
  .movie-header {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
    filter: brightness(50%);
  }
  
  .movie-title {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .movie-title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  ion-content {
    ion-card {
      margin-top: 20px;
      ion-card-header {
        ion-card-subtitle {
          font-size: 18px;
          color: var(--ion-color-medium);
        }
      }
      ion-card-content {
        p {
          font-size: 16px;
          line-height: 1.5;
        }
        strong {
          font-weight: bold;
        }
      }
    }
  }